---
import { actions, getActionProps } from 'astro:actions'
import { OutputItem } from '~/components/OutputItem'
import { PathInputs } from '~/components/PathInputs'
import BaseLayout from '~/layouts/Base.astro'

const output = await actions.listOutputs()
const result = Astro.getActionResult(actions.transformInputs)
const data = result?.data ?? output
---

<BaseLayout>
  <main class="container flex flex-col gap-4">
    <h1>Manage Node Tree</h1>
    <form method="post" class="flex gap-2 px-2 justify-self-end">
      <input {...getActionProps(actions.transformInputs)} />
      <input type="hidden" name="entryId" value={Math.floor(Math.random() * 1000)} />
      <input type="text" name="path" placeholder="Path name" />
      <button type="submit">Add root item</button>
    </form>
    <section>
      {data.map(item => <OutputItem {item} />)}
    </section>
  </main>
</BaseLayout>
