---
import { actions, getActionProps } from 'astro:actions'
import { PathInputs } from '~/components/PathInputs'
import BaseLayout from '~/layouts/Base.astro'

const result = Astro.getActionResult(actions.transformInputs)
---

<BaseLayout>
  <main class="container max-w-full prose">
    <h1>Manage Node Tree</h1>
    <form method="post">
      <input {...getActionProps(actions.transformInputs)} />
      <input type="hidden" name="entryId" value={Math.floor(Math.random() * 1000)}>
      <PathInputs client:only="solid-js" />
      <button type="submit">Send</button>
    </form>
    {result?.data?.map(item => (
      <details>
        <summary>{item.currentPath}</summary>
        #{item.entryId} - {item.fullPath}
      </details>
    ))}
    <!-- <pre>{JSON.stringify(result?.data, null, 2)}</pre> -->
  </main>
</BaseLayout>
