---
import { actions, getActionProps } from 'astro:actions'
import type { ZodError } from 'zod'
import { OutputItem } from '~/components/OutputItem'
import BaseLayout from '~/layouts/Base.astro'

const output = await actions.listItems()
const result = Astro.getActionResult(actions.addItem)
const data = result?.data ?? output

const defaultError = 'An unknown error occurred'
const knownErrors: Record<string, Record<string, string>> = {
  path: {
    invalid_type: 'Please provide a path',
  },
}
const firstError = (result?.error as unknown as ZodError)?.issues?.[0]
---

<BaseLayout>
  <main class="container flex flex-col gap-4 py-8">
    <h1>Manage Node Tree</h1>
    <form method="post" class="flex gap-2 px-2 justify-self-end">
      <input {...getActionProps(actions.addItem)} />
      <input type="hidden" name="entryId" value={Math.floor(Math.random() * 1000)} />
      <input type="text" name="path" placeholder="Path name" class="px-2 rounded text-foreground" />
      <button type="submit">Add root item</button>
    </form>
    {result?.error && (
      // Only for debugging/demo purposes, remove in a real production environment
      <details>
        <summary>Error: {knownErrors[firstError.path.join('.')][firstError.code] ?? defaultError}</summary>
        <pre>{JSON.stringify(result.error, null, 2)}</pre>
      </details>
    )}
    <section>
      {data.map((item) => <OutputItem client:visible {item} />)}
    </section>
  </main>
</BaseLayout>
