---
import { actions, getActionProps } from 'astro:actions'

const result = Astro.getActionResult(actions.transformInputs)
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hello</title>
  </head>
  <body>
    <form method="post">
      <input {...getActionProps(actions.transformInputs)} />
      <input type="hidden" name="entryId" value={Math.floor(Math.random() * 1000)}>
      <input type="text" name="path" placeholder="Path 1" />
      <input type="text" name="path" placeholder="Path 2" />
      <input type="text" name="path" placeholder="Path 3" />
      <input type="text" name="path" placeholder="Path 4" />
      <input type="text" name="path" placeholder="Path 5" />
      <button type="submit">Send</button>
    </form>
    <pre>{JSON.stringify(result?.data, null, 2)}</pre>
  </body>
</html>
