.output-item > .header .icon-closed {
  display: inline;
}

.output-item[open] > .header .icon-closed {
  display: none;
}

.output-item > .header .icon-open {
  display: none;
}

.output-item[open] > .header .icon-open {
  display: inline;
}
