.output-item:nth-child(odd) > .header {
  background-color: hsla(var(--primary) / 50%);
  color: hsl(var(--primary-foreground));
}

.output-item:nth-child(even) > .header {
  background-color: hsl(var(--secondary) / 50%);
  color: hsl(var(--secondary-foreground));
}

.output-item > .header .icon-closed {
  display: inline;
}

.output-item[open] > .header .icon-closed {
  display: none;
}

.output-item > .header .icon-open {
  display: none;
}

.output-item[open] > .header .icon-open {
  display: inline;
}
